body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}


.cardholder{
    /* css specify */
    border: 2px solid lightpink;
    /* margin-left: 200px; */
    /* height: 200px; */
    width: 350px;
    padding: 15px;
    margin: 20px 10px;
    height: 210px;
    vertical-align: middle;
    display: inline-block; 
    border-radius: 8px;
    text-align: left;

   
}



.firstcard {
    border: 2px solid lightpink;
    /* text-align: right; */
    /* margin-left:auto; */
    /* margin-right:auto; */

    /* border-top-right-radius: 20px; */
    /* border-bottom-left-radius: 20px; */
}

.parentdiv {
    /* border: 2px solid blue;   */
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}




.custom-roundedshape {
    height: 45px; 
    width: 45px;
    border-radius: 50%;
    border: 2px solid lightpink;
    text-align:center;
    display: inline-block;
}


.custom-icons {
    color: lightskyblue;
    font-size: 24px;
    display: inline-block;
    margin-top: 10px;
}


h2 {
    display: inline-block;
}



.header-container {
    border: 2px solid transparent;
    text-align: left;
}











.daisy {
    /* border-width: 5px; */
    /* border-style: solid; */
    /* border-color: red; */
    /* border: 5px solid red */

    border: 2px solid red;



    /* Padding box model property ( clockwise TRBL ) */
    /* padding:20px; */
    /* padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 20px;
 */




/* Top and bottom: 0px; left and right: 20px; */
/* padding: */


/* ( clockwise TRBL ) */
padding: 100 26 69 0;

/* margin-bottom: 42px;
margin-left: 30px;
margin-top: 60px; */

margin: 30px 20px;
}