body {
    background-color: rgb(250, 250, 244);
}


/* Introduction to Flexbox */
.parent {
    border: 2px solid black;
    height: 300px;
    margin: 0 auto;
    display: flex;
    width: 85%;
    /* center , space-evenly, flex-start, flex-end, space-between */
    justify-content: center; 
    align-items: center;
    justify-content: space-evenly;
}

.cards {
    border: 2px solid tomato;
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}